Source: ubports-qa-scripts
Section: unknown
Priority: optional
Maintainer: Florian Leeber <florian@ubports.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/ubports/qa-scripts
Vcs-Git: git@github.com:ubports/qa-scripts.git

Package: ubports-qa-scripts
Architecture: all
Depends: ${misc:Depends}, python3-requests
Description: UBports QA scripts
 Useful scripts to automate root file system updates from the UBports repo
